.name {
    color: white;
    font-family: 'Cormorant', serif;
    font-size: 6vw;
    font-weight: lighter;
}

.name-mobile>p {
    margin: 0px;
}

.bar {
    width: 83%;
    height: 1px;
    background-color: rgb(187, 186, 186);
}

.bar-wrapper {
    margin-top: 0px;
    padding-left: 25%;
    padding-right: 25%;
}

.bar-mobile {
    width: 80%;
    height: 1px;
    background-color: white;
}

.profession {
    font-family: 'Cormorant', serif;
    font-size: 2vw;
    opacity: 1;
}

.profession-mobile {
    color: rgb(187, 186, 186);
    font-family: 'Cormorant', serif;
    font-size: 3vw;
    opacity: 1;
}