.name {
    color: white;
    font-family: Cormorant Garamond;
    font-size: 6vw;
    font-weight: lighter;
}

.bar {
    width: 100%;
    height: 1px;
    background-color: white;
}

.profession {
    color: white;
    font-family: Cormorant Garamond;
    font-size: 2vw;
    opacity: 1;
}