.nav-styles-md {
    font-family: "Cormorant Garamond";
    font-size: 2vh;
    width: 100%;
}

.nav-styles-sm {
    font-family: "Cormorant Garamond";
    font-size: 1.5vh;
    width: 100%;
}

.nav-styles-sm>a,
.nav-styles-md>a {
    color: white;
}

.nav-styles-sm>a:hover,
.nav-styles-md>a:hover {
    color: rgb(182, 182, 182);
}