.nav-styles-md {
    font-family: 'Judson', serif;
    font-size: 2vh;
    color: rgb(182, 182, 182);
    width: 100%;
}

.nav-styles-sm {
    font-family: 'Judson', serif;
    font-size: 1.5vh;
    color: rgb(182, 182, 182);
    width: 100%;
}

.nav-styles-sm:hover,
.nav-styles-md:hover {
    color: white;
}