.card-styles {
    cursor: pointer;
    width: 100%;
    background-color: black;
    border-width: 1px;
    color: white;
}

.card-styles>img:hover {
    filter: brightness(50%);
    cursor: zoom-in;
}

.form-check-input:checked {
    background-color: rgb(80, 80, 80) !important;
    border-color: rgb(20, 20, 20) !important;
    padding: 0px;
}

.modal-body {
    padding: 0px;
}

.size:hover {
    color: white;
}

.size-inactive {
    color: grey;
}

.size-active {
    color: white;
}